body {
    padding: 0;
    font-family: sans-serif, serif;
}
section {
    margin-top: 1.5em;
}
h1, h2, p {
    margin: 0 0 0.5em 0;
}
button {
    padding: 1em;
}
#seleccionar-ataque {
    flex: auto;
}
#seleccionar-ataque div {
    margin-top: 1em;
}
#seleccionar-ataque p {

}
.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.notice {
    color: purple;
    font-weight: 700;
}
.ganador {
    color: green;
    font-weight: 700;
}
.perdedor {
    color: red;
    font-weight: 700;
}